**/*.o
**/*.a
**/*.mod
2D/wrapper/*
!2D/wrapper/.gitkeep
!2D/wrapper/create_config_example02.m
!2D/wrapper/read_data.m
!2D/wrapper/seconds2duration.m
3D/wrapper/*
!3D/wrapper/.gitkeep
2D/build/FastCycles
3D/build/FastCycles
personnal_guide/
2D/problems/*
!2D/problems/.gitkeep
3D/problems/*
!3D/problems/.gitkeep
library/
